upstream @<%= application %> {
  server unix:<%= shared_path %>/sockets/puma.sock fail_timeout=0;
}

server {
  listen 80;

  server_name <%= domain %>;
  client_max_body_size 10m;

  access_log <%= shared_path %>/log/nginx-access.log;
  error_log <%= shared_path %>/log/nginx-error.log;

  root <%= current_path %>/public/;

  location ~ ^/(assets|uploads)/ {
    access_log off;
    gzip_static on;
    expires max;
    add_header Cache-Control public;
  }

  location / {
    try_files $uri /system/maintenance.html @<%= application %>;
  }

  location @<%= application %> {
    proxy_pass http://@<%= application %>;
    proxy_redirect off;

    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    proxy_connect_timeout 90;
    proxy_send_timeout 90;
    proxy_read_timeout 90;
    proxy_buffer_size 4k;
    proxy_temp_file_write_size 64k;
    client_max_body_size 10m;
    client_body_buffer_size 128k;
  }
}
