production:
  adapter: postgresql
  encoding: unicode
  database: <%= postgresql_database %>
  pool: 5
  username: <%= postgresql_user %>
  password: <%= postgresql_password %>
  host: <%= postgresql_host %>

test:
  adapter: postgresql
  encoding: unicode
  database: <%= postgresql_test_database %>
  pool: 5
  username: <%= postgresql_test_user %>
  password: <%= postgresql_test_user %>
  host: <%= postgresql_host %>